html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Clases Utilitarias */

.container {
  width: 80%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5em;
  margin: 0 0.1em;
  border-radius: 0.5em;
}

.btn-primary {
  color: white;
  background-color: #0f2620;
}

.btn-secondary {
  color: white;
  background-color: #7ba69a;
}

.btn-danger {
  color: white;
  background-color: #a6444c;
}

.btn-light {
  color: black;
  background-color: #ddf2ce;
}

.btn-dark {
  color: white;
  background-color: #302c2d;
}

/* Header */
.bg-header {
  background-image: url("../assets/img/bg-header-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 18.75em;
}

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.357);
  padding: 1.5em;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .navbar-brand {
    flex-direction: row;
    margin-bottom: 0;
    gap: 0.2em;
  }
}

.navbar-brand img {
  width: 2em;
}

.navbar-nav {
  background-color: rgba(0, 0, 0, 0.893);
  padding: 1em;
  border-radius: 0.3em;
}

.nav-link {
  display: inline-block;
  padding: 0.3em;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.548);
  background-color: rgba(255, 255, 255, 0.233);
  border-radius: 0.3em;
  font-size: 1.1rem;
  transition: ease 0.5s;
}

/* Main */
.main {
  background-color: #fff;
  padding: 0.3em;
  margin-top: -2em;
  border-radius: 0.3em;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .tienda {
    display: flex;
    gap: 1em;
  }
}

/* Card */
.card {
  background-color: #a6444c;
  color: #fff;
  overflow: hidden;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.card-img {
  width: 100%;
}

.card-body {
  padding: 1em;
}

.card-body h5 {
  font-size: 1.5em;
  margin: 1em 0;
  font-weight: 500;
}

.card-body p {
  font-weight: 200;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  background-color: #302c2d;
}

.nosotros-col-img {
  background-image: url("../assets/img/nosotros-min.png");
  height: 21.875em;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  order: 2;
}

.nosotros-col-text {
  order: 1;
}

@media (min-width: 576px) {
  .nosotros-col-img {
    height: 31.25em;
  }
}

@media (min-width: 768px) {
  .nosotros {
    flex-direction: row;
  }

  .nosotros-col-img {
    order: 1;
    flex: 1 1 0;
  }

  .nosotros-col-text {
    order: 2;
    flex: 1 1 0;
  }
}

.nosotros-body {
  padding: 1em;
  text-align: center;
  color: #fff;
}

.nosotros-body h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.nosotros-body p {
  font-weight: 200;
}

/* Footer */
.bg-footer {
  background-color: #302c2d;
  color: #fff;
}

.bg-footer p {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}
